
		

		

		<div class="contents">
			<%= render '/site-bar' %>
			
			<div class="w-main">
				<%= render '/quasi-side-bar' %>
				<div class="welcome-main">
				
				<dl class="intro-text selected">
					<dt>Hello,</dt>
					<dt>my name is</dt>
					<dt><a class="switchtext" href="#">Matthew.</a></dt>
				</dl>


				<dl class="intro-text">
					<dt>I am a</dt>
					<dt>multidisciplinary </dt>
					<dt><a class="switchtext" href="#">Designer.</a></dt>
				</dl>
				<dl class="intro-text">
					<dt>That strives to</dt>
					<dt>work on projects</dt>
					<dt>that <a class="switchtext" href="#">matter.</a></dt>
				</dl> 


				<dl class="intro-text">
					<dt class="faded">That strives to</dt>
					<dt class="faded">work on <span>projects</span> </dt>
					<dt class=""> that <%= link_to "impact", works_path, :class => "switchtext" %></dt>
				</dl>

				</div><!--end of main-->

			</div><!-- end of w-main-->

		</div><!--end of contents-->