
		<div class="meny">
			<h2>More Experiments</h2>
			<ul>
				<li><a href="http://lab.hakim.se/avgrund/">Avgrund</a></li>
				<li><a href="http://lab.hakim.se/radar/">Radar</a></li>
				<li><a href="http://lab.hakim.se/forkit-js/">forkit.js</a></li>
				<li><a href="http://lab.hakim.se/scroll-effects/">stroll.js</a></li>
				<li><a href="http://lab.hakim.se/zoom-js">zoom.js</a></li>
				<li><a href="http://lab.hakim.se/reveal-js">reveal.js</a></li>
				<li><a href="http://itunes.apple.com/us/app/sinuous/id543097218">Sinuous for iOS</a></li>
				<li><a href="http://hakim.se/experiments/css/domtree/">DOM Tree</a></li>
				<li><a href="http://hakim.se/experiments/css/holobox/">Holobox</a></li>
				<li><a href="http://hakim.se/experiments/html5/404/netmag.html">404</a></li>
			</ul>
		</div>

		<div class="meny-arrow"></div>

		<div class="contents">
			<div class="w-site-bar">
    <nav class="site-bar">
        <ul>
            <li>
                <h1><a class="alignment navigation" href="#">Repository</a></h1>
            </li>
            <li>

                <h1><a class="alignment contact" href="#">Contact Me</a><span class="i-contact"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="63px" height="63px" viewBox="0 0 63 63" enable-background="new 0 0 63 63" xml:space="preserve">
						<g>
							<path fill="#fff" d="M31.35,42.952c2.412,0,4.797-0.53,6.897-1.529l0.337-0.159l0.311,0.208C41.622,43.3,45,43.754,45.75,43.834
								c-2.212-2.977-1.638-6.823-1.055-8.966c0.501-1.245,0.756-2.528,0.756-3.809c0-6.557-6.325-11.894-14.102-11.894
								c-7.774,0-14.1,5.337-14.1,11.894C17.25,37.616,23.576,42.952,31.35,42.952z"/>

						</g>
						</svg></span></h1>
            </li>
        </ul>
    </nav>
</div>
			<article>
				<h1>Meny</h1>
				<p>
					A three dimensional and space efficient menu.
				</p>
				<p>
					Move your mouse towards the arrow &mdash; or swipe in from the arrow if you're on a touch device &mdash; to open.
					Test it with any page by appending a URL, like so: <a href="http://lab.hakim.se/meny/?u=http://hakim.se">lab.hakim.se/meny/?u=http://hakim.se.</a>
				</p>
				<p>
					Meny can be positioned on any side of the screen: <br>
					 <a href="http://lab.hakim.se/meny/?p=top">top</a>
					 - <a href="http://lab.hakim.se/meny/?p=right">right</a>
					 - <a href="http://lab.hakim.se/meny/?p=bottom">bottom</a>
					 - <a href="http://lab.hakim.se/meny/?p=left">left</a>
				</p>
				<p>
					Instructions and download at <a href="http://github.com/hakimel/meny">github.com/hakimel/meny</a>.
				</p>
				<p>
					The name, <em>Meny</em>, is swedish.
				</p>
				<small>
					Created by <a href="http://twitter.com/hakimel">@hakimel</a> / <a href="http://hakim.se/">http://hakim.se</a>
				</small>
			</article>

	

		</div>