.admin-html
	{
		background: #fff !important;

	}


#page-container-2
  {
    height: 100%;
    
  }
.contents-2
	{
		overflow: auto;
		position: relative;
		height:100%;
		background: #fff;

		h1
			{
				margin: 0;
			}
	}