//Desktop
@media (min-width: 900px) and (max-width: 1440px)
	{

	}
//macbook pro
@media (min-width: 900px) and (max-width: 1440px)
	{
		.w-article-title
			{
				padding-left: 2rem;
			}

			.article-number 
			{
				font-size: 1.75rem;
				margin-top: 2.625rem;
			}
		
		.article-name 
			{
				font-size: 1.75rem;
			}

		.project-icon-img 
			{
				display: none;
				visibility: hidden;
			}
	}


@media (min-width: 800px) and (max-width: 1280px) {
//homepage

.welcome-main 
	{
		padding-left: 0;

		dl
			{
				font-size: 6rem;

			}
	}

//works page
	.article-number 
		{
			font-size: 1.675rem;
			font-weight: 700;
			display: block;
			
		}
		
	.article-name 
		{
			font-size: 1.675rem;
		}

	.to-project .project-link
		{
			padding: 1rem 2rem;
		}

	.feat-title
		{
			font-size: 1.75rem;
		}

	.feat-desc
		{
			font-size: 1rem;
			line-height: 1.4105rem;

		}
	.w-main-works 
		{
			padding:0;
		}

	.project-icon-img
		{
			display: none;
			visibility: hidden;
		}	

	.w-quasi-meny
		{
			display: none;
			visibility: hidden;
		}

	.feat-panel
		{
			top: -6rem;
			right: 0;
		}

	.w-feat-content
		{
			width: 80%;
		}
	.w-modal-nav h1
		{
			font-size: 19px;
		}

}

//tablet
@media(min-width : 768px) and (max-width : 1024px)

	{
	.w-main
			{
				padding: 0;
			}

		.welcome-main
			{
				padding: 0;

				dl
					{
						font-size: 5.5rem;
						text-align: center;
						padding-top: 4.5rem;
					}
			}


		.w-main-works
			{
				padding: 0;
			}

		.work-item
			{
				overflow: hidden;
			}

		.w-article-title
			{
				overflow: hidden;
	
			}

		.article-name
			{
				font-size: 1.675rem
			}

		.article-number
			{
				padding-top:2.625rem;
				font-size: 1.5rem;
				margin-top: 0;
			}

		.project-icon-img
			{
				display: none;
				visibility: hidden;
			}	

		.w-quasi-meny
			{
				display: none;
				visibility: hidden;
			}

		.feat-panel
			{
				top: -6rem;
				right: 0;
			}

		.w-feat-content
			{
				width: 80%;
			}

	.w-modal-nav h1
		{
			font-size: 19px;
		}


	}
@media (min-width: 481px) and (max-width: 767px) 
	{	
		.w-main
		{
			padding: 0;
		}

		.welcome-main
			{
				padding: 0;

				dl
					{
						font-size: 3rem;
						text-align: left;
						padding-top: 2.5rem;
						padding-left: .5rem
					}
			}



	}
//phones
@media (min-width: 320px) and (max-width: 480px) {

	.w-main
		{
			padding: 0;
		}

	.welcome-main
		{
			padding: 0;

			dl
				{
					font-size: 2.5rem;
					text-align: left;
					padding-top: 1.5rem;
					padding-left: .5rem;
				}
		}


//works page
	.w-main-works
		{
			padding: 0;
		}

	.work-item
		{
			overflow: hidden;
		}

	.w-article-title
		{
			overflow: hidden;
			text-align: center;
		}
	.article-name
		{
			font-size: 1.675rem
		}
	.article-number
		{
			padding-top:2.625rem;
			font-size: 1.5rem;
			margin-top: 0;
		}
	.project-icon-img
		{
			display: none;
			visibility: hidden;
		}


}
//phone landscape
@media (max-height: 300px) {

	html, body, #page-container
		{
			overflow-y: auto !important;

		}
	.w-main
		{
			padding: 0;
		}

	.welcome-main
		{
			padding: 0;

			dl
				{
					padding: 1rem 0 0 .5rem;
					font-size: 2rem;
					text-align: left;
				}
		}

	//navigation
	.meny
		{

			 li
			 	{
			 		height: 2.5rem;
			 		line-height: 2.5rem;
			 		font-size: 1rem;
			 		padding-left: 1rem;
			 		.icon
			 			{
			 				display: none;
			 				visibility: hidden;
			 			}
			 	}	
		}
	// works

	.w-main-works
		{
			padding: 0;
		}

	.project-icon-img
		{
			display: block;
			visibility: visible;
		}


	 

	

}



// Visibility utilities

// For desktops
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }
.visible-desktop   { display: inherit !important; }

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
  // Show
  .visible-tablet    { display: inherit !important; }
  // Hide
  .hidden-tablet     { display: none !important; }
}

// Phones only
@media (max-width: 767px) {

	.w-modal-nav h1
		{
			font-size: 19px;
		}

	.w-modal-title
		{
			position: relative;
			left: inherit;
			right: inherit;
		}

	.w-modal-main
		{
			padding-left:0;
			width: 100%;
		}

	.modal-main figure, .main-modal p, .main-modal h3
		{
			padding: 0;
			margin-left: 0;
		}
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
  // Show
  .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .hidden-phone      { display: none !important; }



}

// Print utilities
.visible-print    { display: none !important; }
.hidden-print     { }

@media print {
  .visible-print  { display: inherit !important; }
  .hidden-print   { display: none !important; }
}
