
	<div class="modal-bg close-model"></div>
	<div class="modal-wrap">
		<article class="modal-content group">
			<div class="modal-image">

				<div class="w-full-bleed">
					<img class="full-bleed" src="http://placehold.it/1280x700" >
				</div>

				<header class="w-modal-title">
					<h1 class="modal-title"></h1>
				</header>
				
			</div>

			<div class="w-modal-main">
				<div class="modal-main">
					
				</div>
			</div>

			<aside class="w-modal-aside">

			</aside>

		</article>

	</div>
