<div class="w-site-bar">


    <nav class="site-bar">
        <ul>
            <li>
                <h1>
                    <span class="i-nav">
          

                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="63px" height="63px" viewBox="0 0 100 84" enable-background="new 0 0 100 84" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace">

                                <line fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2.25" x1="26.5" y1="42" x2="73.5" y2="42"/>
                                <line fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2.25" x1="26.5" y1="58.5" x2="73.5" y2="58.5"/>
                                <line fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2.25"  x1="26.5" y1="25.5" x2="73.5" y2="25.5"/>

                            </svg>
                       
                    </span>
                    <a class="alignment navigation hidden-phone" href="#">Works</a>

                </h1>
            </li>
            <li>
                <h1>

                	<a class="alignment contact hidden-phone" href="#">Contact Me</a>
                	<span class="i-contact">
                		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="63px" height="63px" viewBox="0 0 63 63" enable-background="new 0 0 63 63" xml:space="preserve">
    						<g>
    							<path fill="#fff" d="M31.35,42.952c2.412,0,4.797-0.53,6.897-1.529l0.337-0.159l0.311,0.208C41.622,43.3,45,43.754,45.75,43.834
    							c-2.212-2.977-1.638-6.823-1.055-8.966c0.501-1.245,0.756-2.528,0.756-3.809c0-6.557-6.325-11.894-14.102-11.894
    							c-7.774,0-14.1,5.337-14.1,11.894C17.25,37.616,23.576,42.952,31.35,42.952z"/>

    						</g>
						</svg>
					</span>

				</h1>
            </li>
        </ul>
    </nav>
</div>